body{background-color:#C7F7E9;margin:0;height:100%;}
h1{font-color:#56A9A1;}
*{font- family:"Georgia";}
a.c{background-color:#0659FF;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
img{float:left;}
img.full{display:block;
  width:100%; height:100%;
  object-fit: cover;
}
*{font-size:"100";}
{font-size:"100";}
